/* Target collapsed state */
.mat-expansion-panel:not(.mat-expanded) {
  background-color: darkgrey;
}

/* Target expanded state */
.mat-expansion-panel.mat-expanded {
  background-color: grey;
}

.mat-expansion-panel {
  margin-bottom: 16px; /* Adjust the value according to your spacing preference */
}
