<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header >
      <mat-panel-title>
        Week 0
      </mat-panel-title>
      <mat-panel-description>
        Introduction To The Module
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <p>We were introduced to the module content. There is no further content for this week</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 1
      </mat-panel-title>
      <mat-panel-description>
        SIFA & Media Literacy
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
    <h1>SIFA </h1>
    <img src="https://i.imgur.com/qrKJtMx.jpg" style="padding-bottom: 50px">

    <h1>Image Editing</h1>

    <h3>Before</h3>
    <img class="dog" src="https://i.imgur.com/CSOmOTW.jpg">
    <h3>After</h3>
    <img src="https://i.imgur.com/xrbINqm.jpg">

    <h3>Edited Eyes</h3>
    <img class="dog" src="https://i.imgur.com/FBNJzlV.jpg">

    <h1>Discoveries</h1>
      <p><b>What are the available image file formats?</b><br>Available image file formats include PNG, JPEG, GIF and SVG</p>
      <p><b>What are the artisitic filters that you have applied??</b><br>I added a filter called duotone and changed the parameters of the filter to get the achieved effect</p>
      <p><b>What is meant by color balance?</b><br>Available image file formats include PNG, JPEG, GIF and SVG</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>



