.mat-expansion-panel.mat-expanded {
  background-color: darkslategrey;
}

.mat-expansion-panel {
  margin-bottom: 8px; /* Adjust the value according to your spacing preference */
  margin-top: 8px;
}
