<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header >
      <mat-panel-title>
        Week 0
      </mat-panel-title>
      <mat-panel-description>
        Introduction To The Module
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <p>We were introduced to the module content. There is no further content for this week</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 1
      </mat-panel-title>
      <mat-panel-description>
        SIFA & Media Literacy
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h1>SIFA </h1>
    <img src="https://i.imgur.com/qrKJtMx.jpg">
  </mat-expansion-panel>
</mat-accordion>



