<mat-accordion>
<!--Week 0 Panel-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header >
      <mat-panel-title>
        Week 0
      </mat-panel-title>
      <mat-panel-description>
        Introduction To The Module
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="center-content">
      <p>We were introduced to the module content. There is no further content for this week</p>
    </div>
  </mat-expansion-panel>
<!--Week 1 Panel-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 1
      </mat-panel-title>
      <mat-panel-description>
        SIFA & Media Literacy
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <h1><b>SIFA</b> Activity 1</h1>
    <img src="https://i.imgur.com/qrKJtMx.jpg" style="padding-bottom: 50px">

    <h1><b>Image Editing</b> Activity 2 & 3</h1>

    <h3>Before</h3>
    <img class="dog" src="https://i.imgur.com/CSOmOTW.jpg">
    <h3>After</h3>
    <img src="https://i.imgur.com/xrbINqm.jpg">

    <h3>Edited Eyes</h3>
    <img class="dog" src="https://i.imgur.com/FBNJzlV.jpg">

    <h1><b>Discoveries</b> Activity 4</h1>
      <p><b>What are the available image file formats?</b><br>Available image file formats include PNG, JPEG, GIF and SVG</p>
      <p><b>What are the artistic filters that you have applied?</b><br>I added a filter called duotone and changed the parameters of the filter to get the achieved effect.</p>
      <p><b>What is meant by color balance?</b><br>Color balance can add or remove colors from photos as well as change the intensity of certain colors.</p>
      <p><b>What are Hue and Saturation?</b><br>Hue changes the range of colors in an image whereas saturation can make colors more vibrant or muted. </p>
      <p><b>Who owns this file after the considerable changes you have made to the images?</b><br>The original uploader or person who took/created the image/photo.</p>
      <p><b>What is meant by ownership, pixels, binary representation</b><br>Ownership defines who has commercial rights over specific content.<br>Pixels are the the smallest element in a display or image. It is only 1 color and many pixel are used to create a single image.<br>Binary representation is the binary form of a file type. Binary representations consists solely of 1's and 0's</p>

    <h1><b>Audio Normalisation</b> Activity 5</h1>
      <h2>Before Normalisation</h2>
      <audio controls>
        <source src="./assets/audio/original.mp3" type="audio/mpeg">
      </audio>
      <br>
      <img src="https://i.imgur.com/D3CO288.png">
      <h2>After Normalisation</h2>
      <audio controls>
        <source src="./assets/audio/normalised.mp3" type="audio/mpeg">
      </audio>
      <br>
      <img src="https://i.imgur.com/sPcJ4jX.png">

    <h1><b>Audio Editing</b> Activity 6</h1>
      <h2>Original</h2>
      <audio controls>
        <source src="./assets/audio/clap.mp3" type="audio/mpeg">
      </audio>
      <br>
      <img src="https://i.imgur.com/mDw2cfi.png">
      <h2>After Editing</h2>
      <audio controls>
        <source src="./assets/audio/clapedited.mp3" type="audio/mpeg">
      </audio>
      <br>
      <img src="https://i.imgur.com/iP31RMb.png">

    <h1><b>Discoveries</b> Activity 7</h1>
      <p><b>What are the available file formats? </b><br>Available image file formats include PNG, JPEG, GIF and SVG</p>
      <p><b>What is a wave form, amplitude, frequency? </b><br>I added a filter called duotone and changed the parameters of the filter to get the achieved effect.</p>

    <h1><b>Video Tutorial</b> Activity 8</h1>
      <video width="320" height="240" controls>
        <source src="./assets/video/Desktop%202023.10.22%20-%2015.12.08.01.mp4" type="video/mp4">
      </video>

    <h1><b>Discoveries</b> Activity 9</h1>
      <p><b>What are the available file formats? </b><br>Available image file formats include PNG, JPEG, GIF and SVG</p>
      <p><b>What is a wave form, amplitude, frequency? </b><br>I added a filter called duotone and changed the parameters of the filter to get the achieved effect.</p>

      <h1><b>References</b></h1>
      https://phlearn.com/tutorial/photoshop-basics-color-balance<br>
      https://helpx.adobe.com/photoshop-elements/using/adjusting-color-saturation-hue-vibrance.html
    </div>
  </mat-expansion-panel>
<!--Week 2 Panel-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 2
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <h1><b>Video Project</b></h1>

      <video width="320" height="240" controls>
        <source src="./assets/video/Untitled.mp4" type="video/mp4">
      </video>

    </div>
  </mat-expansion-panel>
<!--Short Story-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Short Story
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <h1><b>ChatGPT Responses</b></h1>

      <img src="https://i.imgur.com/1g6zHYd.png">

      <h1><b>Experience Using AI</b></h1>

      <p>While doing writing the story and researching about AI and Generative Language Models I learnt <br> alot about prompt construction and how ChatGPT process instructions, as well as how to get a more accurate or expected results</p>

    </div>
  </mat-expansion-panel>
<!--Week 4 Panel-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 4
      </mat-panel-title>
      <mat-panel-description>
        Artificial Intelligence
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <h1><b>Activity 1</b></h1>

        <p><b>Examples of machine learning and deep learning. </b> An example of machine learning can be a spam detector that learns when users reports emails as spams and over time marks emails as spam with greater. An example of deep learning can be computer vision and object detection where a machine learning model known as a neural networks is used</p>

      <h1><b>Activity 2</b></h1>

        <p><b>What is depth-first search? </b>Depth-First Search is an algorithm for traversing or searching a tree or graph data structure. It starts at the root node and explores as far as possible along each branch before backtracking.</p>
        <p><b>Advantage: </b>DFS has a memory advantage over Breadth-First Search because it only needs to store the nodes along a single branch of the tree or graph at any given time.</p>
        <p><b>Disadvantage: </b>DFS may not find the shortest path to a node, making it less efficient than BFS in certain situations.</p>

      <h1><b>Activity 3</b></h1>

      <a href="https://imgur.com/sSY5Oc8"><img src="https://i.imgur.com/sSY5Oc8.mp4" title="source: imgur.com" /></a>

      <p>Machine Learning can be used in industries to help orginize products by quality, color or type.</p>

      <h1><b>Activity 4</b></h1>
      <p>Math</p>

      <h1><b>Activity 5</b></h1>
        <img src="https://i.imgur.com/CEuI1cY.png">
        <p><b>My understanding: </b>ChatGPT has a large collection of the data, when a question it analyzes the keywords and topic points and uses those to query the databases for information that it needs to construct a response</p>

    </div>
  </mat-expansion-panel>
<!--Week 7-13 Panel-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 7 - 13
      </mat-panel-title>
      <mat-panel-description>
        Arduino and Physical Computing
      </mat-panel-description>
    </mat-expansion-panel-header>



  </mat-expansion-panel>
<!--Week 14 -->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 14
      </mat-panel-title>
      <mat-panel-description>
        Recommender Systems
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>

      <h1><b>What we covered</b></h1>

      <p>Recommender systems enhance online shopping experiences by predicting and suggesting products that align with individual preferences. Utilizing methods such as collaborative filtering, content-based filtering, and hybrid approaches, these systems analyze user behavior and content characteristics to make personalized recommendations. Collaborative filtering leverages user similarities to suggest items, while content-based filtering focuses on item features and user preferences. Hybrid methods combine these to improve accuracy and overcome limitations like the cold start and sparsity problems. These systems not only aid users in finding relevant products but also boost sales and customer satisfaction for providers.</p>

    </div>
  </mat-expansion-panel>
<!--Week 17 -->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 17
      </mat-panel-title>
      <mat-panel-description>
        Virtual Reality
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>

      <h1><b>Activity</b></h1>

      <p>Virtual Reality Training offers cost conveniet and repeatable training activies that may cost a significant amount in the real world. A downside would be the releasim and the impact on proficiancy at the task in real life scenarios</p>

    </div>
  </mat-expansion-panel>
<!--Week 18 -->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 18
      </mat-panel-title>
      <mat-panel-description>
        Unity
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>

      <h1><b>What we covered</b></h1>

      <p>In the lecture we covered the use cases of unity which can include desktop, mobile and virtual reality games. We learnt the basics of how to use unity such as add objects, change lighting and add physics.</p>

    </div>
  </mat-expansion-panel>
<!--Week 19-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Week 20
      </mat-panel-title>
      <mat-panel-description>
        Spark AR
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>

      <h1><b>What we covered</b></h1>

      <p>In the lecture we learnt how to use spark AR and use the face tracking to add objects to a filter.</p>

    </div>
  </mat-expansion-panel>
<!--Unity Project-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Unity Augmented Reality Project
      </mat-panel-title>
      <mat-panel-description>
        Face Filters
      </mat-panel-description>

      <div>
        <a href="https://github.com/salmaanakhtar/FACE_FILTER"><p><b>Github Link</b> https://github.com/salmaanakhtar/FACE_FILTER/settings</p></a>
      </div>

    </mat-expansion-panel-header>
    <div>



    </div>
  </mat-expansion-panel>

</mat-accordion>



