<p>
  <mat-toolbar color="primary">

    <span class="spacer"></span>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">
      <div class="link">
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
      </div>
    </a>
<!--    <button mat-button routerLink="books">All Books</button>-->
<!--    <span class="spacer"></span>-->
<!--    <button mat-button routerLink="auth/login">Login</button>-->
<!--    <button mat-button routerLink="auth/signup">Signup</button>-->

  </mat-toolbar>
</p>
